
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fb;
    color:#333;
}




/* header */



header {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px none;
    z-index: 1000;
}
 
.header-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;


}
 
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
 
.logo {
    color: #1a1d23;
    display: flex;
    align-items: center;
    gap: 10px;
}
 
.logo h2 {
    font-size: 24px;
}
 
.logo h2 span {
    color: #1a1d23;
}


.logo img {
    width: 50px;
    height: 50px;
}
 
/* nav {
    margin-left: 40px;
} */
 
nav ul {
    display: flex;
    list-style: none;
}
 
nav ul li {
    margin-left: 12px;
}
 
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold  ;
    padding-right: 15px;
 
}


nav ul li a:hover {
    color: blue;
}
 
@media (max-width: 992px) {
 
    .header-container {
        width: 95%;
    }
 
    .logo img {
        width: 45px;
        height: 45px;
    }
 
    .logo h2 {
        font-size: 22px;
    }
 
    nav ul {
        gap: 8px;
    }
 
    nav ul li a {
        font-size: 15px;
        padding: 6px;
    }
}
 
/* ===========================
   Mobile
=========================== */
 
@media (max-width: 768px) {
 
    .header-container {
        flex-direction: column;
        padding: 10px 0;
    }
 
    .logo {
        margin-bottom: 10px;
    }
 
    nav {
        width: 100%;
    }
 
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
 
    nav ul li a {
        font-size: 15px;
        padding: 6px 8px;
    }
}
 
/* ===========================
   Small Mobile
=========================== */
 
@media (max-width: 480px) {
 
    .logo img {
        width: 40px;
        height: 40px;
    }
 
    .logo h2 {
        font-size: 20px;
    }
 
    nav ul {
        gap: 6px;
    }
 
    nav ul li a {
        font-size: 14px;
        padding: 5px;
    }
}

/* hero section  */
.contact-hero {
    background-image: url("https://img.magnific.com/premium-photo/wooden-block-with-symbol-telephone-email-address-website-page-contact-us-e-mail-marketing-concept-3d-rendering_20693-752.jpg");
    background-size: cover;
    background-position: center;
    color:#555;
    text-align: center;
    padding: 120px 20px;
}

.contact-hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 150px;
}

.contact-hero p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
}

/* contact section  */
.contact-section {
    padding: 60px 20px;
    background: #f5f7fa;
}

.contact-section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    flex-wrap: wrap;
}


/* contact info section  */
.contact-info{
    margin-left: 0;
    width: 40%;
    flex: 1;
    min-width: 300px;
}


.contact-info h2 {
    font-size: 36px;
    color: #1a1d23;
    margin-bottom: 20px;
}

.contact-info p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 25px;
}

.info-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #3b82f6;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.info-box h3 {
    color: #1a1d23;
    margin-bottom: 8px;
}

.info-box p {
    margin: 0;
    color: #666;
}

/* contact form section  */
.contact-form{
    background: #d8d6d6;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    width:55%;
    flex: 1;
    min-width: 300px;
}

.contact-form h2{
    color: #1a1d23;
    margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color: #3b82f6;
}

.contact-form textarea{
    resize: none;
}

.contact-form button{
    background: #101113;
    color: #fff;
    border: none;
    padding: 15px 35px ;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
    width: 100%;
}

.contact-form button:hover{
    background: #2a4b8f;
}





@media (max-width:768px){

    .contact-hero{
        padding: 70px 20px;
        text-align: center;
    }


    .contact-hero h1{
        font-size: 32px;
    }

    .container{
        width: 90%;
        margin: auto;
    }

    .contact-section .container{
        display: flex;
        flex-direction: column;
        gap:30px
    }

    .contact-info, .contact-form{
        width: 100%;
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form button{
        width: 100%;
        font-size: 16px;
    }

    .info-box{
        margin-bottom: 20px;
    }

}



/* mobile */

@media (max-width:480px){

    .contact-hero{
        padding: 50px 15px;
    }
    .contact-hero h1{
        font-size: 26px;
    }

    .container{
        width: 95%;
    }

    .contact-section{
        padding: 20px 10px;
    }

    .contact-section .container{
        display: flex;
        flex-direction: column;
    }

    .contact-info, .contact-form{
        width: 100%;
    }

    .contact-form{
        padding: 20px;
        border-radius: 10px;
    }

    .contact-form h2{
        font-size: 24px;
        text-align: center;

    }

    .contact-form input,
    .contact-form textarea{
        width: 100%;
        padding: 12px;
        font-size: 15px;
        margin-bottom: 15px;
    }


    .contact-form button{
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    .info-box{
       text-align: center;
        margin-bottom: 20px;
    }
    .info-box h3{
      font-size: 20px;
    }
    .info-box p{
         font-size: 20px;
    }


}



/* footer */

footer {
    background: #1a1d23;
    color: white;
    padding: 50px 30px 20px;
}
 
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
 
.footer-box {
    flex: 1 1 220px;
    min-width: 220px;
}
 
.footer-box h2 {
    margin-bottom: 15px;
    color: #0d6efd;
}
 
.footer-box p {
    margin: 10px 0;
    line-height: 1.6;
    color: white;
}
 
.footer-box a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    transition: 0.3s;
}
 
.footer-box a:hover {
    color: #0d6efd;
}
 
hr {
    margin: 30px 0 15px;
    border: none;
    border-top: 1px solid #444;
}
 
.copyright {
    text-align: center;
    font-size: 15px;
}
 
/* ===========================
   Tablet
=========================== */
 
@media (max-width: 992px) {
 
    footer {
        padding: 40px 25px 20px;
    }
 
    .footer-container {
        justify-content: center;
        gap: 25px;
    }
 
    .footer-box {
        flex: 1 1 300px;
        text-align: center;
    }
}
 
/* ===========================
   Mobile
=========================== */
 
@media (max-width: 768px) {
 
    footer {
        padding: 35px 20px 15px;
    }
 
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
 
    .footer-box {
        width: 100%;
        max-width: 350px;
        min-width: auto;
    }
 
    .footer-box h2 {
        font-size: 22px;
    }
 
    .footer-box p,
    .footer-box a {
        font-size: 15px;
    }
 
    .copyright {
        font-size: 14px;
    }
}
 
/* ===========================
   Small Mobile
=========================== */
 
@media (max-width: 480px) {
 
    footer {
        padding: 30px 15px 10px;
    }
 
    .footer-box h2 {
        font-size: 20px;
    }
 
    .footer-box p,
    .footer-box a {
        font-size: 14px;
    }
 
    .copyright {
        font-size: 13px;
    }
}
